//- Use the presentation layout so we can keep this clean
extends layouts/presentation

//- Customize the title, meta description, and author using this block.
block title
  title Test Your Way to a Better Sleep
  meta(
    name="description"
    content="Getting started testing your React components with Enzyme"
  )
  meta(
    name="author"
    content="Jared Schaab"
  )

  block theme
      link(rel="stylesheet" href="css/theme/solarized.css" id="theme")
//- Add your slides here. See templates/includes/_mixins.jade for information 
//- on how `+slide` works.
block slides

  +slide
    h1 Test Your Way to a Better Sleep
    h3 Testing React Components with Enzyme
    p
      small.
        Created by #[a(href=authorLink) author] /
        #[a(href="https://twitter.com/jaredschaab") @jaredschaab]

  +slide
    h2
    p.
      reveal.js enables you to create beautiful interactive slide decks using HTML. This presentation will show you examples of what it can do.




